version: '3'

services:

  php:
    build: tests/docker
    depends_on:
      - clickhouse
      - clickhouse2
    volumes:
      - ./:/src

  clickhouse:
    image: yandex/clickhouse-server
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "8124:8123"

  clickhouse2:
    image: yandex/clickhouse-server
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
